@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



.hero-gradient-one {
  background: linear-gradient(135deg, #ec4899 0%, #6366f1 100%);
  opacity: 0.3;
  width: max-content;
}

.hero-gradient-two {
  background: linear-gradient(135deg, #ec4899 0%, #6366f1 100%);
  opacity: 0.3;
  max-width: 100px;
  height: auto;
}


.hero-button-primary {
  @apply bg-indigo-500 hover:bg-indigo-600 text-white font-semibold px-6 py-3 rounded-lg;
}

.hero-button-secondary {
  @apply text-gray-300 hover:text-white font-semibold px-6 py-3 rounded-lg;
}


.property-card {
  @apply bg-white rounded-xl shadow-lg overflow-hidden relative;
}

.status-badge {
  @apply absolute top-4 right-4 px-3 py-1 rounded-full text-sm font-semibold;
}

.status-badge.available {
  @apply bg-green-500 text-white;
}

.status-badge.unavailable {
  @apply bg-red-500 text-white;
}

.property-image {
  @apply w-full h-56 object-cover;
}

.property-details {
  @apply p-4 space-y-2;
}

.details-button {
  @apply bg-indigo-500 hover:bg-indigo-600 text-white px-4 py-2 rounded-lg font-semibold mt-2;
}


.navbar {
  @apply absolute inset-x-0 top-0 z-50 p-6;
}

.navbar-container {
  @apply flex justify-between items-center;
  
}

.logo {
  @apply text-2xl font-bold text-white;
}

.nav-links {
  @apply flex gap-8 text-gray-300 font-medium;
}

.nav-links li {
  @apply hover:text-indigo-500 cursor-pointer;
}


.hero-overlay {
  @apply text-center py-32 px-6;
}

.hero-main-title {
  @apply text-5xl sm:text-7xl font-semibold tracking-tight text-white;
}

.hero-overlay p {
  @apply mt-8 text-lg sm:text-xl text-gray-200;
}


.main-content {
  @apply bg-gray-100 text-gray-900 py-20 px-6;
}

.section-header {
  @apply mb-12 text-center;
}

.section-title {
  @apply text-3xl font-bold;
}

.properties-container {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8;
}
